// _blockView.scss partial file

#block-view-container {
  padding-right: 0;

  svg.block-view {
    margin-top: 110px;
  }

  div.block-view-content {
    position: sticky;
    top: 0;
  }

  &.blur-view {
    filter: blur(4px);
  }

  &.dark-mode {
    svg.block-view {
      background-color: #222222;
      border-radius: 20px;
    }

    text.axis-label,
    .axisY0 g.tick text,
    .axisY1 g.tick text {
      fill: #ffffff;
    }

    .axisY0 g.tick line,
    .axisY1 g.tick line {
      stroke: #ffffff;
    }
  }

  .axisY0 g.tick line,
  .axisY1 g.tick line {
    stroke-width: 2px;
  }

  .rect-clip-block {
    fill: none;
    pointer-events: all;
    visibility: hidden;
  }

  .axis-label {
    font-size: 11px;
    text-anchor: middle;
  }

  g.tick text {
    font-size: 9px;
  }

  .outer-content {
    margin: 0 auto;
    max-width: 400px; // block-view width
  }

  .outer-clickable-content {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  p {
    &.reset-button {
      font-size: 11px;
      margin-left: 20px;

      > input {
        padding: 0 15px;
      }
    }

    &.flip-orientation {
      margin-right: 25px;
    }

    &.zoom-state-hint {
      margin-right: 25px;
      text-align: right;
    }
  }
}
