// _blockView.scss partial file

#block-view-container {
  padding-right: 0;

  svg.block-view {
    margin-top: 110px;
  }

  div.block-view-content {
    position: sticky;
    top: 0;
  }

  &.blur-view {
    filter: blur(4px);
  }

  &.dark-mode {
    svg.block-view {
      background-color: #222222;
      border-radius: 20px;
    }
  }

  .rect-clip-block {
    pointer-events: all;
    visibility: hidden;
  }

  .outer-content {
    margin: 0 auto;
    max-width: 420px; // block-view width
  }

  .outer-clickable-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  div.reset-button {
    margin-left: 25px;

    > button {
      border: 0;
      padding: 0;

      &:hover {
        > svg {
          @extend %svg-button-hover;
        }
      }

      > svg {
        @extend %svg-button;
      }
    }
  }

  p {
    &.flip-orientation {
      margin-right: 25px;
    }

    &.zoom-state-hint {
      margin: 2px 25px 0 0;
      text-align: right;
    }
  }
}
