// _common.scss partial file

button,
input[type="range"],
input[type="button"],
input[type="checkbox"],
select {
  cursor: pointer;
}

p, span, h6 {
  font-size: 14px;
}

h6 {
  font-weight: normal;
}

p {
  // Default font color
  color: black;

  label, span {
    color: black;
    margin: 0;
  }
}

label {
  // To add spacing to any span adjacent to an input checkbox inside a label
  input[type="checkbox"] + span {
    cursor: pointer;
    padding-left: 4px;
  }
}

.container {
  position: relative;
}

// Container for bootstrap alert
.alert {
  position: absolute;
  top: 10px;
}

// Button for bootstrap alert
button.close > span {
  font-size: 24px;
}

// Styles for Reactstrap Modal
.modal-reactstrap {
  h5 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 10px;
  }
}

// Styles for spinning animation
#loader {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  height: 150px;
  left: 50%;
  margin: -75px 0 0 -75px;
  position: absolute;
  top: 50%;
  width: 150px;
  z-index: 1;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  position: relative;
}

@-webkit-keyframes animatebottom {
  from { bottom: -200px; opacity: 0; }
  to { bottom: 0px; opacity: 1; }
}

@keyframes animatebottom {
  from { bottom: -200px; opacity: 0; }
  to { bottom: 0; opacity: 1; }
}
