// _common.scss partial file

button,
input[type="range"],
input[type="button"],
input[type="checkbox"],
select {
  cursor: pointer;
}

p, label, span, h6 {
  font-size: 11px;
  margin-bottom: 5px;
}

h6 {
  font-weight: normal;
}

p {
  // Default font color
  color: black;

  label, span {
    color: black;
    margin: 0;
  }
}

input[type="button"] {
  padding: 0 10px;

  &.btn.btn-outline-primary {
    background-color: white;
    border-color: #3b88fd;
    color: #3b88fd;
    font-size: 11px;
    margin-left: 2px;

    &:hover {
      background-color: #3b88fd;
      color: white;
    }
  }
}

select {
  &.form-control {
    color: black;
    font-size: 11px;
    height: 20px !important;
    padding: 0;
  }
}

.disabled {
  color: gainsboro;
}

.separator {
  margin: 0;
  overflow: hidden;
}

input:disabled,
select:disabled {
  background-color: #eeeeee;
  color: #666666;
  cursor: default;
  opacity: 0.7;
}

label {
  // To add spacing to any span adjacent to an input checkbox inside a label
  input[type="checkbox"] {
    + span {
      cursor: default;
      padding-left: 4px;
    }

    &:not(:disabled) + span {
      cursor: pointer;
    }
  }
}

#page-container {
  padding: 0;

  > .row {
    margin: 0;
  }
}

.container {
  max-width: 100%;

  .col-lg-2, .col-lg-4, .col-lg-6 {
    max-width: 100%;
    padding: 0;
  }
}

// Container for bootstrap alert
.alert {
  font-size: 11px;
  left: 50%;
  position: fixed;
  top: 10px;
  transform: translate(-50%, 0);
  white-space: nowrap;
  z-index: 9999; // Always show alert on top, specially when getting an error inside modal

  // Button for bootstrap alert
  &.alert-dismissible button.close {
    padding: 10px 22px;

    > span {
      display: block;
      font-size: 18px;
    }
  }
}

// Styles for Reactstrap Modal
.modal-reactstrap {
  .modal-title {
    margin-bottom: -5px;
  }

  &.modal-dialog.bottom-modal {
    top: calc(100% - 20%);
    transform: translate(0, -50%);
  }

  p, label, span {
    font-size: 11px;
  }

  p {
    margin-bottom: 10px;
  }

  button.close > span {
    font-size: 18px;
  }

  // To add cursor pointer to any input file adjacent to an span inside a label
  label {
    input[type="file"],
    input::-webkit-file-upload-button {
      cursor: pointer;
    }
  }

  span + select {
    margin-left: 4px;
  }

  .submit-main-files-form-container {
    div.gff-file-upload-container {
      p {
        display: inline-block;

        &.gff-type {
          @extend %noWrapParagraphSelectSpan;
        }

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    input#collinearity-file-upload {
      display: inline-block;
      margin-left: 44px;
    }
  }

  .submit-additional-tracks-form-container {
    #additional-track-file-upload {
      width: 205px;
    }

    .additional-track-name-field span {
      display: inline-block;
      width: 54px;
    }
  }

  .download-files-form-container {
    .options-container {
      p.plot-type,
      p.format-type {
        @extend %noWrapParagraphSelectSpan;

        select {
          width: 75px;
        }
      }

      p.keep-block-highlighted,
      p.plot-type {
        display: inline-block;
      }

      p.keep-block-highlighted {
        margin-left: 10px;
      }

      p.plot-type select {
        margin-left: 16px;
      }
    }
  }

  .saved-solutions-container {
    .stamps-container {
      margin-top: -15px;

      .stamps-item {
        margin: 15px 15px 0;
        position: relative;

        .item-close,
        .item-index {
          color: black;
          font-size: 11px;
          font-weight: bold;
          position: absolute;

          &.dark-mode {
            color: #f3f3f3;
          }
        }

        .item-close {
          cursor: pointer;
          right: 5px;
          top: 0;
        }

        .item-index {
          bottom: 0;
          left: 5px;
        }

        img {
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            border: 2px solid #3b88fd;
          }
        }
      }
    }
  }
}

// Styles for spinning animation
#loader {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  border-bottom: 12px solid #3498db;
  height: 100px;
  left: 50%;
  margin: -75px 0 0 -75px;
  position: fixed;
  top: 50%;
  width: 100px;
  z-index: 9999; // Always show loader on top, specially when loading files inside modal
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  position: relative;
}

@-webkit-keyframes animatebottom {
  from { bottom: -200px; opacity: 0; }
  to { bottom: 0px; opacity: 1; }
}

@keyframes animatebottom {
  from { bottom: -200px; opacity: 0; }
  to { bottom: 0; opacity: 1; }
}

// Input range styles
// More info: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    cursor: pointer;
    height: 16px;
    margin-top: -5px;
    width: 10px;
  }

  &::-webkit-slider-runnable-track {
    background: #3b88fd;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    cursor: pointer;
    height: 6px;
    width: 100%;
  }

  &:focus {
    opacity: 0.9;
    outline: none;

    &::-webkit-slider-runnable-track {
      background: #3498db;
    }

    &::-webkit-slider-thumb {
      background: #eeeeee;
    }
  }

  &:disabled {
    &::-webkit-slider-runnable-track {
      background-color: #eeeeee;
      color: #666666;
      cursor: default;
      opacity: 0.5;
    }

    &::-webkit-slider-thumb {
      cursor: default;
    }
  }
}
