// _configurationPanel.scss partial file

#config {
  margin: 10px 0 0 10px;
  min-width: 230px; // width = 800 / 2.5 - 10px
  max-width: 230px; // width = 800 / 2.5 - 10px
  padding: 0;
}

#page-container #load-files-container {
  button {
    color: #3b88fd;
    font-size: 12px;
    position: fixed;
    right: 10px;
    text-decoration: none;
    top: 10px;
    z-index: 10;

    &:hover {
      color: #0056b3;
    }
  }
}

#page-container #download-svg-container {
  z-index: 10;

  button.btn.download-files {
    border: none;
    padding: 0;

    svg.download-files-svg {
      bottom: 20px;
      cursor: pointer;
      fill: #3b88fd;
      height: 30px;
      position: fixed;
      right: 20px;
      width: 30px;
    }
  }
}

#form-config {
  // overflow-y: scroll; // To consider later
  // height: 1300px; // To consider later
  padding: 15px;
  margin-bottom: 15px;

  .panel-title {
    background-color: #f1f1f1;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 5px;
    outline: none;
    padding: 6px;
    position: relative;
    text-align: left;
    transition: 0.3s;
    width: 100%;

    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: #ccc;
    }

    &:after {
      color: #000;
      content: '\02795'; // Unicode character for "plus" sign (+)
    }

    &.active:after {
      content: '\02796'; // Unicode character for "minus" sign (-)
      top: 8px;
    }
  }

  // Style the accordion panel. Note: hidden by default
  .panel {
    background-color: white;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
  }

  .show-all,
  .show-self-connections,
  .panel-subtitle {
    margin-bottom: 5px;
  }

  div.filter-angle-div,
  div.filter-sa-flipping-frequency-div {
    margin-bottom: 10px;
  }

  div.change-chromosome-positions {
    p:not(:first-of-type) {
      padding-left: 4px;
    }

    p {
      display: inline-block;
    }
  }

  div.additional-track-block,
  div.blocks-color,
  div.draw-blocks-order,
  div.chromosomes-palette {
    p {
      display: inline-block;
      text-align: left;

      &:nth-child(1) {
        width: 45%;
      }

      &:nth-child(2) {
        margin-left: 5px;
        width: 50%;
      }
    }
  }

  div.additional-track-block {
    p {
      &:nth-child(1) {
        width: 28%;
      }

      &:nth-child(2) {
        width: 67%;
      }
    }
  }

  p.filter-connections,
  div.filter-angle-div p,
  div.filter-sa-temperature-div p,
  div.filter-sa-ratio-div p,
  div.filter-sa-flipping-frequency-div p {
    input {
      height: 5px;
      margin-left: 2px;
      width: 190px;
    }
  }

  p.filter-connections {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      display: inline-block;
      margin: 0;
    }

    &:nth-child(2), &:nth-child(3) {
      margin: 0 0 0 5px;
    }

    &:nth-child(4) {
      margin: 5px 0 5px;
    }
  }

  div.filter-angle-div,
  div.filter-sa-temperature-div,
  div.filter-sa-ratio-div,
  div.filter-sa-flipping-frequency-div {
    label {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 5px;
    }
  }

  p.save-layout, p.reset-layout {
    display: inline-block;

    > input {
      padding: 0 25px;
    }
  }

  p.save-layout {
    margin-right: 18px;
  }

  .separator {
    margin: 0;
    overflow: hidden;
  }

  div.chr-options {
    padding: 0;
  }

  .chr-boxes {
    padding: 0 0 5px;

    label {
      margin-bottom: 0;
    }

    span.chr-box-extra > em {
      display: inline-block;
      text-align: right;
      width: 52px;
    }

    .select-all {
      padding-top: 5px;
      margin-bottom: 0;
    }
  }

  h5.panel-title:after,
  span.add-track {
    font-size: 12px;
    font-weight: bold;
    top: 7px;
    right: 7px;
    position: absolute;
  }

  div.additional-tracks-panel-container {
    // Additional tracks tabs styles
    div.tabs {
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: hidden;

      // Style the buttons that are used to open the tab content
      button.tab-link,
      div.add-track button.add-track {
        background-color: inherit;
        border: none;
        border-bottom: 1px solid gainsboro;
        cursor: pointer;
        font-size: 10px;
        height: 30px;
        outline: none;
        padding: 7px 0;
        position: relative;
        transition: 0.3s;
        width: 100%;

        span.text {
          display: inline-block;
          margin: 0;
          text-overflow: ellipsis;
          // Required for text-overflow to do anything
          white-space: nowrap;
          overflow: hidden;

          width: 70%;
        }

        span.hamburger-icon {
          cursor: grab;

          font-size: 14px;
          top: 3px;
          left: 10px;
          position: absolute;
        }

        span.delete {
          font-size: 12px;
          font-weight: bold;
          top: 6px;
          right: 11px;
          position: absolute;
        }
      }

      button.tab-link {
        &:hover {
          background-color: #ddd; // Change background color of buttons on hover
        }

        &.active {
          background-color: #ccc; // Change color for the active/current tablink class
        }

        &.draggable-mirror {
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px gray;
          outline: 1px solid gray;
          transition: none;

          &:not(.active) {
            background-color: #ddd; // Using the hover color when not active
          }
        }
      }

      div.draggable-tabs,
      div.add-track {
        background-color: inherit;
        width: 100%;
      }

      div.draggable-tabs {
        &.draggable-container--is-dragging {
          button.tab-link,
          button.tab-link span.hamburger-icon {
            cursor: grabbing;
          }

          + div.add-track, + div.add-track button.add-track {
            cursor: not-allowed;
          }
        }
      }

      div.add-track {
        button.add-track {
          color: #000;
          text-decoration: none;
        }
      }
    }

    // Tab content styles
    div.tab-content {
      border: 1px solid gainsboro;
      border-top: none;
      display: none;
      padding: 5px;

      // Go from zero to full opacity
      @-webkit-keyframes fadeEffect {
        from { opacity: 0; }
        to { opacity: 1; }
      }

      @keyframes fadeEffect {
        from { opacity: 0; }
        to { opacity: 1; }
      }

      > div {
        animation: fadeEffect 0.5s; // Fading effect takes 0.5 seconds
      }
    }
  }
}
