// _configurationPanel.scss partial file

#config {
  margin: 20px 0 0 20px;
  min-width: 340px; // width = 800 / 2.5 + 20px
  max-width: 340px; // width = 800 / 2.5 + 20px
}

#page-container #documentation-container {
  button {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

#form-config {
  // overflow-y: scroll; // To consider later
  // height: 1300px; // To consider later
  padding: 20px;
  margin-bottom: 20px;

  .panel-title {
    background-color: #eee;
    border: none;
    color: #444;
    cursor: pointer;
    outline: none;
    padding: 10px;
    text-align: left;
    transition: 0.4s;
    width: 100%;

    &.active, &:hover {
      background-color: #ccc;
    }

    &:after {
      color: #777;
      content: '\02795'; // Unicode character for "plus" sign (+)
      float: right;
      font-size: 13px;
      margin: 5px;
    }

    &.active:after {
      content: "\2796"; // Unicode character for "minus" sign (-)
    }
  }

  .show-all,
  .panel-subtitle {
    margin-bottom: 8px;
  }

  // Style the accordion panel. Note: hidden by default
  .panel {
    background-color: white;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
  }

  div.draw-blocks-order,
  div.additional-track-block,
  div.chromosomes-palette {
    p {
      display: inline-block;

      &:nth-child(2) {
        margin-left: 5px;
      }
    }
  }

  p.filter-connections,
  div.filter-angle-div p,
  div.filter-sa-temperature-div p,
  div.filter-sa-ratio-div p {
    input {
      margin-left: 45px;
      width: 195px;
    }
  }

  p.filter-connections {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      display: inline-block;
      margin: 0;
    }

    &:nth-child(2), &:nth-child(3) {
      margin: 0 0 0 10px;
    }

    &:nth-child(4) {
      margin: 5px 0 8px;
    }
  }

  div.filter-angle-div,
  div.filter-sa-temperature-div,
  div.filter-sa-ratio-div {
    label {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 8px;
    }
  }

  p.save-layout, p.reset-layout {
    display: inline-block;

    > input {
      padding: 0 15px;
    }
  }

  p.save-layout {
    margin-right: 10px;
  }

  .disabled {
    color: gainsboro;
  }

  div.chr-options {
    padding: 0;
  }

  .chr-boxes {
    padding: 0 0 16px;

    span.chr-box-extra > em {
      display: inline-block;
      text-align: right;
      width: 74px;
    }

    .select-all {
      padding-top: 5px;
      margin-bottom: 0;
    }
  }
}
