// _genomeView.scss partial file

svg#genome-view {
  margin-left: 25px;
  margin-top: 75px;

  &.dark-mode {
    background-color: #222222;
  }

  &.blur-view {
    filter: blur(4px);
  }
}

div.genome-view-container {
  .progress {
    display: none;
    height: 32px;
    left: 50%;
    position: absolute;
    top: 625px;
    transform: translate(-50%, 0);
    width: 40%;

    .progress-bar {
      color: black;
      display: none;
      transition: none;
    }
  }

  svg#genome-view {
    &.dark-mode + .progress {
      .progress-bar {
        color: #ffffff;
      }
    }

    &.blur-view {
      + .progress {
        display: flex;

        .progress-bar {
          display: flex;
        }
      }

      .cs-layout > g {
        cursor: default;
      }
    }
  }
}

.cs-layout > g {
  cursor: pointer;
}

div.circos-tooltip.dark-mode {
  background: #ffffff;
  color: #000000;
}
