// _genomeView.scss partial file

svg#genome-view {
  margin-left: 15px;
  margin-top: 65px;

  &.dark-mode {
    background-color: #222222;
  }

  &.blur-view {
    filter: blur(4px);
  }
}

div.genome-view-container {
  position: sticky;
  top: 0;

  .progress {
    display: none;
    height: 23px;
    left: 50%;
    position: absolute;
    top: 415px; // (height of circos plot / 2) + genome-view margin-top
    transform: translate(-50%, 0);
    width: 40%;

    .progress-bar {
      background-color: #3498db;
      color: black;
      display: none;
      font-size: 10px;
      transition: none;
    }
  }

  svg#genome-view {
    g.all path.point {
      // Scatter points should have no stroke
      stroke: none;
      stroke-width: 0;
    }

    g.block {
      // Making the last axis darker
      path.axis.last {
        stroke: #8c8c8c;
      }
    }

    &.dark-mode + .progress {
      .progress-bar {
        color: #f3f3f3;
      }
    }

    &.blur-view {
      + .progress {
        display: flex;

        .progress-bar {
          display: flex;
        }
      }

      .cs-layout > g {
        cursor: default;
      }
    }
  }
}

.cs-layout > g {
  cursor: pointer;
}

div.circos-tooltip {
  &.dark-mode {
    background: #ffffff;
    color: #000000;
  }

  &.outside {
    border: 2px solid #ea4848;
    left: 64% !important;
    position: fixed;
    top: 665px !important; // genome-view height
    transform: translate(-36%, 0) !important;
  }
}
